$primary: #0c2431;
$secondary: #e1dad2;
$trim: #194a50;
$light: #d37556;
$fade: #d8a28c;

$serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$mono: monospace;
